<section class="intro-section">
    <div class="container">
        <div class="section-title">
            <h2>Giới thiệu</h2>
        </div>
        <div class="row  ">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing a elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adlorem ipsum dolor sit amet, consectetur incididunt ut dolore magna incididunt ut labore et dolore adipisicing a elit, sed do incididunt ut labore et dolore eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adipsum adipisicing a sed do </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing a elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adlorem ipsum dolor sit amet, consectetur incididunt ut dolore magna incididunt ut labore et dolore adipisicing a elit, sed do incididunt ut labore et dolore eiusmod tempor.</p>
                <div class="sine">
                    <img src="/images/sign.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <img src="/images/office-2.jpg" alt="" />
            </div>

        </div>
    </div>
</section>