<footer id="footer">
	<div class="widgetized-footer">
			<div class="container">
					<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="footer-widget">
											<a href="index-2.html" class="footer-logo"><img src="/images/logo.png" alt=""></a>
											<p>Uniquely extend virtual process improvements without empowered vortals. Competently scale premium web services for client-centered portals. Efficiently negotiate stand-alone.</p>
									</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="footer-widget">
											<h2 class="widget-title">Quick Links</h2>
											<ul class="menu-links">
													<li><a href="index-2.html">Home</a></li>
													<li><a href="about-us.html">About Us</a></li>
													<li><a href="single-blog.html">Blog</a></li>
													<li><a href="contact.html">Contact Us</a></li>
											</ul>
									</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="footer-widget">
											<h2 class="widget-title">Get In Touch</h2>
											<p>14 Phạm Quý Thích, P.Tân Quý, Q.Tân Phú, TPHCM
													<br>60 Nguyễn Đình Chiểu, P.Đakao, Q.1, TPHCM</p>
											<p>Tel : (+84) 28. 38 12 17 19</p>
											<p>Email : <a href="mailto:info@royal.com">info@123corp.vn</a></p>
									</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="footer-widget">
											<h2 class="widget-title">Flickr</h2>
											<ul class="flickr-gallery clearfix">
													<li>
															<a class="img-poppu" href="images/ft/portfolio-1.jpg">
																	<img src="/images/ft/portfolio-1.jpg">
															</a>
													</li>
													<li>
															<a class="img-poppu" href="images/ft/portfolio-2.jpg">
																	<img src="/images/ft/portfolio-2.jpg">
															</a>
													</li>
													<li>
															<a class="img-poppu" href="images/ft/portfolio-3.jpg">
																	<img src="/images/ft/portfolio-3.jpg">
															</a>
													</li>
													<li>
															<a class="img-poppu" href="images/ft/portfolio-4.jpg">
																	<img src="/images/ft/portfolio-4.jpg">
															</a>
													</li>
													<li>
															<a class="img-poppu" href="images/ft/portfolio-5.jpg">
																	<img src="/images/ft/portfolio-5.jpg">
															</a>
													</li>
													<li>
															<a class="img-poppu" href="images/ft/portfolio-6.jpg">
																	<img src="/images/ft/portfolio-6.jpg">
															</a>
													</li>
													<li>
															<a class="img-poppu" href="images/ft/portfolio-7.jpg">
																	<img src="/images/ft/portfolio-7.jpg">
															</a>
													</li>
													<li>
															<a class="img-poppu" href="images/ft/portfolio-8.jpg">
																	<img src="/images/ft/portfolio-8.jpg">
															</a>
													</li>
													<li>
															<a class="img-poppu" href="images/ft/portfolio-9.jpg">
																	<img src="/images/ft/portfolio-9.jpg">
															</a>
													</li>
											</ul>
									</div>
							</div>
					</div>
			</div>
	</div>
	<div class="copyright-footer">
			<div class="container"><span class="copyright-text">&copy; 2018 All rights reserved.</span></div>
	</div>
</footer>