<nav class="navbar navbar-default sticker" id="main-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse" data-hover="dropdown" data-animations="fadeInDown fadeInRight slideInUp fadeInLeft">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if page.url == '/' %}active{% endif %}"><a href="/">Home</a></li>
                <li class="{% if page.url == '/about/' %}active{% endif %}"><a href="/about">About Us</a></li>
                <li class="{% if page.url == '/services/' %}active{% endif %}"><a href="/services">Services</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Portfolio<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                        <li><a href="portfolio-grid.html">Portfolio Grid</a></li>
                        <li><a href="single-portfolio.html">Single Portfolio</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Blog <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="blog.html">Blog Listing</a></li>
                        <li><a href="single-blog.html">Single Blog</a></li>
                    </ul>
                </li>
                <li class="{% if page.url == '/contact/' %}active{% endif %}"><a href="/contact/">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>