---
layout: wrapper
---

<section class="page-header">
    <div class="overlay">
        <div class="container">
            <h2 class="page-title pull-left">About Us</h2>
            <ol class="breadcrumb pull-right">
                <li><a href="/">Home</a></li>
                <li class="active">About Us</li>
            </ol>
        </div>
    </div>
</section>
<!--/ page header end -->

<!-- page-container start -->
<section class="page-container about-us-page">
    <div class="container overflow-hide">
        <div class="section-title">
            <h2><span>We Are</span> Creative Agency</h2>
        </div>
        <div class="row m-b-50">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="company-img m-b-20"><img src="/images/office-2.jpg" alt=""></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="company-intro">
                    <p>Credibly reconceptualize end-to-end innovation before world-class catalysts for change. Professionally unleash quality potentialities with compelling channels. Rapidiously leverage other's stand-alone processes through functionalized scenarios. Uniquely brand high-payoff sources via client-centered sources. Monotonectally fashion frictionless e-services without customer directed relationships.</p>
                    <p>Objectively benchmark interoperable manufactured products before tactical intellectual capital. Distinctively supply intermandated total linkage for seamless customer service.</p>
                    <ul>
                        <li>Globally communicate alternative leadership skills.</li>
                        <li>Competently deploy multifunctional growth strategies.</li>
                        <li>Rapidiously evolve dynamic portals vis-a-vis.</li>
                        <li>Dramatically restore customized e-tailers with.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row m-b-30">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="team-member" >
                    <div class="member-img">
                        <div class="social-links">
                         <a href="#"><i class="fa fa-facebook"></i></a> 
                         <a href="#"><i class="fa fa-twitter"></i></a> 
                         <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <img src="/images/team1.jpg" alt="">
                    </div>
                    <div class="member-info">
                        <h4>John Doe</h4>
                        <p class="designation">Founder & CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="team-member" >
                    <div class="member-img">
                        <div class="social-links">
                         <a href="#"><i class="fa fa-facebook"></i></a> 
                         <a href="#"><i class="fa fa-twitter"></i></a> 
                         <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <img src="/images/team2.jpg" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Mark Henry</h4>
                        <p class="designation">Creative Head</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="team-member" >
                    <div class="member-img">
                        <div class="social-links">
                         <a href="#"><i class="fa fa-facebook"></i></a> 
                         <a href="#"><i class="fa fa-twitter"></i></a> 
                         <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <img src="/images/team3.jpg" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Kate Williams</h4>
                        <p class="designation">Front-end Developer</p>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="counter-section m-b-100">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="counter">
                                <span class="lnr lnr-smile"></span>
                                <span class="count-num" data-from="0" data-to="300">300</span> 
                                <h4>Happy Customers</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="counter">
                                <span class="lnr lnr-layers"></span>
                                <span class="count-num" data-from="0" data-to="200">200</span> 
                                <h4>Projects Worked</h4></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="counter">
                                <span class="lnr lnr-thumbs-up"></span>
                                <span class="count-num" data-from="0" data-to="400">400</span> 
                                <h4>Clients</h4></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="counter">
                                <span class="lnr lnr-briefcase"></span>
                                <span class="count-num" data-from="0" data-to="600">600</span>
                                <h4>Winning Awards</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>