---
layout: wrapper
---

<section class="banner-section full-height-section" data-stellar-background-ratio="0.5">
    <div class="slide-content">
        <div class="coll-middle">
            <div class="inner">
                <h2>Welcome to <span>Royal Agency </span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing a elit orem ipsum dolor sit amet, consectetur adipisicing a elitipsum dolor sit amet, consectetur adipisicing a elit orem ipsum dolor sit amet, consectetur adipisicing a elit</p>
                <a class="signup-btn" href="#">Contact us</a>
            </div>
        </div>
    </div>
</section>
<!--/ Slider End -->

<!-- intro start -->
{% include sections/intro.html %}
<!--/ intro End -->

<!-- services start -->
<section class="our-services">
    <div class="container">
        <div class="section-title text-right">
            <h2><span>Our</span> Services</h2></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="icon-box">
                    <span class="icon">
                        <span class="lnr lnr-laptop-phone"></span>
                    </span>
                    <div class="content">
                        <h4><a href="#">Responsive Template</a></h4>
                        <p>Distinctively productize royal expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="icon-box" >
                    <span class="icon">
                        <span class="lnr lnr-magic-wand"></span>
                    </span>
                    <div class="content">
                        <h4><a href="#">Custom Animations</a></h4>
                        <p>Distinctively productize royal expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="icon-box">
                    <span class="icon">
                        <span class="lnr lnr-heart"></span>
                    </span>
                    <div class="content">
                        <h4><a href="#">Awesome Design</a></h4>
                        <p>Distinctively productize royal expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="icon-box">
                    <span class="icon">
                        <span class="lnr lnr-leaf"></span>
                    </span>
                    <div class="content">
                        <h4><a href="#">Responsive Template</a></h4>
                        <p>Distinctively productize royal expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="icon-box">
                    <span class="icon">
                        <span class="lnr lnr-screen"></span>
                    </span>
                    <div class="content">
                        <h4><a href="#">Custom Animations</a></h4>
                        <p>Distinctively productize royal expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="icon-box">
                    <span class="icon">
                        <span class="lnr lnr-diamond"></span>
                    </span>
                    <div class="content">
                        <h4><a href="#">Awesome Design</a></h4>
                        <p>Distinctively productize royal expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ services End -->
    
<!-- portfolio Start -->
<section class="portfolio-area gallery-popup">
    <div class="container">
        <div class="section-title text-left">
         <h2><span>Our</span> Project</h2>
        </div>
        <div class="projects">
            <ul class="filter-list portfolio-menu">
                <li data-filter="*" class="active-filter">All</li>
                <li data-filter=".branding">Branding</li>
                <li data-filter=".graphic-design" class="">Graphic Design</li>
                <li data-filter=".web-design" class="">Web Design</li>
                <li data-filter=".print" class="">Print</li>
                <li data-filter=".photography" class="">photography</li>
            </ul>
            <div class="row royal_1p grid  portfolio-box" id="masonry-portfolio">
                <div class="col-xs-12 col-sm-6 col-md-4 royal_2p grid-item branding web-design">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">gravida venenatis odio</h4>
                                <a href="single-portfolio.html" class="icon"><i class="fa fa-link"></i></a>
                                <a href="images/portfolio-1.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="images/portfolio-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item web-design print royal_3p">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">gravida venenatis odio</h4>
                                <a href="single-portfolio.html" class="icon"><i class="fa fa-link"></i></a> 
                                <a href="images/portfolio-2.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="images/portfolio-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item branding photography royal_4p">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">flat rodeodio tone</h4>
                                <a href="single-portfolio.html" class="icon"><i class="fa fa-link"></i></a> 
                                <a href="images/portfolio-3.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="images/portfolio-3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item web-design photography royal_5p">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">gravida venenatis odio</h4>
                                <a href="single-portfolio.html" class="icon"><i class="fa fa-link"></i></a> 
                                <a href="images/portfolio-4.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="images/portfolio-4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4  grid-item branding graphic-design print royal_6p">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">flat rodeodio tone</h4>
                                <a href="single-portfolio.html" class="icon"><i class="fa fa-link"></i></a> 
                                <a href="images/portfolio-5.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="images/portfolio-5.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item graphic-design royal_7p">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">gravida venenatis odio</h4>
                                <a href="single-portfolio.html" class="icon"><i class="fa fa-link"></i></a> 
                                <a href="images/portfolio-6.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="images/portfolio-6.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item web-design photography royal_8p">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">flat rodeodio tone</h4>
                                <a href="single-portfolio.html" class="icon"><i class="fa fa-link"></i></a>
                                <a href="images/portfolio-8.jpg" class="icon  img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="images/portfolio-8.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 grid-item graphic-design print photography royal_9p">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">gravida venenatis odio</h4>
                                <a href="single-portfolio.html" class="icon"><i class="fa fa-link"></i></a> 
                                <a  href="images/portfolio-7.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img">
                            <img src="images/portfolio-7.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ portfolio End -->

<!-- counter Start -->
<section class="counter-section" data-stellar-background-ratio="0.5">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="counter">
                        <span class="lnr lnr-smile"></span>
                        <span class="count count-num"> 300 </span> 
                        <h4>Happy Customers</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="counter">
                        <span class="lnr lnr-layers"></span>
                        <span class="count count-num"> 200 </span> 
                        <h4>Projects Worked</h4></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="counter">
                        <span class="lnr lnr-thumbs-up"></span>
                                <span class="count count-num"> 400 </span> 
                        <h4>Clients</h4></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="counter">
                           <span class="lnr lnr-briefcase"></span>
                        <span class="count-num count" > 600</span>
                        <h4>Winning Awards</h4></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ counter end -->



<!-- team Start -->
<section class="our-team">
    <div class="container">
        <div class="section-title text-right">
            <h2><span>Our</span> Team</h2></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="team-member">
                    <div class="member-img">
                        <div class="social-links">
                            <ul>
                                <li> <a href="#"><i class="fa fa-facebook"></i></a>  </li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                                <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                            </ul>
                        </div>
                        <img src="images/team1.jpg" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Jay Andrew</h4>
                        <p class="designation">Founder & CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="team-member">
                    <div class="member-img">
                        <div class="social-links">
                            <ul>
                                <li> <a href="#"><i class="fa fa-facebook"></i></a>  </li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                                <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                            </ul>
                        </div>
                        <img src="images/team2.jpg" alt="">
                    </div>
                    <div class="member-info">
                        <h4>zulaikha</h4>
                        <p class="designation">Creative Head</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="team-member">
                    <div class="member-img">
                        <div class="social-links">
                            <ul>
                                <li> <a href="#"><i class="fa fa-facebook"></i></a>  </li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                                <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                            </ul>
                        </div>
                        <img src="images/team3.jpg" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Sanjoy shil</h4>
                        <p class="designation">Front-end Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ team End -->

<!-- testimonial Start -->
<section class="testimonial-section">
    <div class="container">
        <div class="section-title">
            <h2><span>Clients</span> Say's</h2></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="testimonial"><span class="testimonial-img"><img src="images/testimonial-1.jpg" alt=""></span>
                    <div class="content">
                        <p>Uniquely matrix backward-compatible action items with premier testing procedures. Authoritatively expedite fully tested technologies for ubiquitous experiences. Authoritatively productize B2C benefits.</p>
                        <h4 class="testimonial-by">zulaikha - <span class="designation">CEO &amp; Founder</span></h4></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="testimonial"><span class="testimonial-img"><img src="images/testimonial-2.jpg" alt=""></span>
                    <div class="content">
                        <p>Uniquely matrix backward-compatible action items with premier testing procedures. Authoritatively expedite fully tested technologies for ubiquitous experiences. Authoritatively productize B2C benefits.</p>
                        <h4 class="testimonial-by">Sanjoy shil - <span class="designation">Creative Head</span></h4></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ testimonial End -->

<!-- pricing Start -->
<section class="pricing-table-group">
    <div class="container">
        <div class="section-title text-right">
            <h2><span>Our </span>Pricing</h2></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="pricing-table">
                    <div class="price-header">
                        <h4 class="plan-title">Basic</h4>
                        <div class="price-amount"><span><sup>$</sup>8<sub>/MO</sub></span></div>
                    </div>
                    <div class="price-body">
                        <ul class="plan-info-list">
                            <li>Proactively evisculate</li>
                            <li>Monotonectally target</li>
                            <li>Professionally reinvent</li>
                            <li>Authoritatively engage</li>
                            <li>Quickly incentivize</li>
                            <li>Interactively orchestrate</li>
                        </ul><a href="#" class="signup-btn">Sign Up</a></div>
                    <div class="price-footer"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="pricing-table besst_price">
                    <div class="price-header">
                        <h4 class="plan-title">Standard</h4>
                        <div class="price-amount"><span><sup>$</sup>16<sub>/MO</sub></span></div>
                    </div>
                    <div class="price-body">
                        <ul class="plan-info-list">
                            <li>Proactively evisculate</li>
                            <li>Monotonectally target</li>
                            <li>Professionally reinvent</li>
                            <li>Authoritatively engage</li>
                            <li>Quickly incentivize</li>
                            <li>Interactively orchestrate</li>
                        </ul><a href="#" class="signup-btn">Sign Up</a></div>
                    <div class="price-footer"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="pricing-table">
                    <div class="price-header">
                        <h4 class="plan-title">Professional</h4>
                        <div class="price-amount"><span><sup>$</sup>32<sub>/MO</sub></span></div>
                    </div>
                    <div class="price-body">
                        <ul class="plan-info-list">
                            <li>Proactively evisculate</li>
                            <li>Monotonectally target</li>
                            <li>Professionally reinvent</li>
                            <li>Authoritatively engage</li>
                            <li>Quickly incentivize</li>
                            <li>Interactively orchestrate</li>
                        </ul><a href="#" class="signup-btn">Sign Up</a></div>
                    <div class="price-footer"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ pricing End -->

<!-- our-clients Start -->
<section class="our-clients">
    <div class="container">
        <div class="section-title">
            <h2><span>Our</span> Partners</h2>
        </div>
        <ul class="clients-list clearfix">
            <li>
                <a href="#"><img src="images/client-1.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="images/client-2.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="images/client-3.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="images/client-4.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="images/client-5.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="images/client-6.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="images/client-7.png" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="images/client-8.png" alt=""></a>
            </li>
        </ul>
    </div>
</section>