---
layout: wrapper
---

<section class="page-header">
  <div class="overlay">
    <div class="container">
      <h2 class="page-title pull-left">Tin tức - Sự kiện </h2>
      <ol class="breadcrumb pull-right">
        <li><a href="/">Trang chủ</a></li>
        <li class="active">Tin tức - sự kiện</li>
      </ol>
    </div>
  </div>
</section>
<!--/ page header end -->

<!-- page-container start -->
<div class="page-container blog-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <article class="post-entry design3">
          <div class="featured-image">
            <img src="/images/blog-1.jpg" alt="" class="post-thumbnail" />
          </div>
          <div class="bottom-content">
            <div class="shadow-box"></div>
            <div class="inner">
              <header class="entry-header">
                <h2 class="entry-title">
                  <a href="#" rel="bookmark"
                    >Hội thảo Beauty Development quy tụ hơn 500 doanh nhân ngành làm đẹp</a
                  >
                </h2>
              </header>
              <div class="entry-content">
                <p>
                  VBD và Liên đoàn Hiệp hội Thẩm mỹ Quốc tế Hàn Quốc vừa tổ chức hội thảo Beauty Development, kết nối doanh nhân ngành làm đẹp tại Adora TP HCM.

Hội thảo Beauty Development năm nay quy tụ hơn 500 chủ doanh nghiệp trên cả nước với 50 gian hàng cung cấp mỹ phẩm và thiết bị làm đẹp. Chương trình còn có sự tham gia của các khách mời là bác sĩ, chuyên gia đến từ Hàn Quốc, Pháp, Việt Nam.
                </p>
                <a href="#" class="read-more">Chi tiết</a>
              </div>
            </div>
          </div>
        </article>

        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous"
              ><span aria-hidden="true">«</span></a
            >
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="active"><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next"><span aria-hidden="true">»</span></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!--/ page-container end -->
