---
layout: wrapper
---

<section class="page-header">
    <div class="overlay">
        <div class="container">
            <h2 class="page-title pull-left">Services</h2>
            <ol class="breadcrumb pull-right">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
</section>
<!--/ page header end -->

<!-- page-container start -->
<section class="page-container services-page">
    <div class="container">
        <div class="service__area">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="icon-box"><span class="icon"><span class="lnr lnr-laptop-phone"></span></span>
                        <div class="content">
                            <h4><a href="#">Responsive Template</a></h4>
                            <p>Distinctively productize business expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="icon-box"><span class="icon"><span class="lnr lnr-magic-wand"></span></span>
                        <div class="content">
                            <h4><a href="#">Custom Animations</a></h4>
                            <p>Distinctively productize business expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="icon-box"><span class="icon"><span class="lnr lnr-heart"></span></span>
                        <div class="content">
                            <h4><a href="#">Awesome Design</a></h4>
                            <p>Distinctively productize business expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="icon-box"><span class="icon"><span class="lnr lnr-leaf"></span></span>
                        <div class="content">
                            <h4><a href="#">Responsive Template</a></h4>
                            <p>Distinctively productize business expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="icon-box"><span class="icon"><span class="lnr lnr-screen"></span></span>
                        <div class="content">
                            <h4><a href="#">Custom Animations</a></h4>
                            <p>Distinctively productize business expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="icon-box"><span class="icon"><span class="lnr lnr-diamond"></span></span>
                        <div class="content">
                            <h4><a href="#">Awesome Design</a></h4>
                            <p>Distinctively productize business expertise through excellent opportunities. Continually procrastinate diverse deliverables after.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="recent-projects gallery-popup">
        <div class="container">
            <h4 class="text-center">Recent Projects</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">Interior</h4>
                                <a href="#" class="icon"><i class="fa fa-link"></i></a>
                                <a href="images/ft/portfolio-1.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img"><img src="/images/ft/portfolio-1.jpg" alt=""></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">Interior</h4>
                                <a href="#" class="icon"><i class="fa fa-link"></i></a> 
                                <a href="images/ft/portfolio-2.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img"><img src="/images/ft/portfolio-2.jpg" alt=""></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">Interior</h4>
                                <a href="#" class="icon"><i class="fa fa-link"></i></a> 
                                <a href="images/ft/portfolio-3.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img"><img src="/images/ft/portfolio-3.jpg" alt=""></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="gallery-item">
                        <div class="gallery-desc">
                            <div class="adjust-block">
                                <h4 class="project-title">Interior</h4>
                                <a href="#" class="icon"><i class="fa fa-link"></i></a>
                                <a href="images/ft/portfolio-4.jpg" class="icon img-poppu"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="gallery-img"><img src="/images/ft/portfolio-4.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-section">
        <div class="container">
            <div class="section-title">
                <h2><span>Clients</span> Say's</h2></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="testimonial"><span class="testimonial-img"><img src="/images/testimonial-1.jpg" alt=""></span>
                        <div class="content">
                            <p>Uniquely matrix backward-compatible action items with premier testing procedures. Authoritatively expedite fully tested technologies for ubiquitous experiences. Authoritatively productize B2C benefits.</p>
                            <h4 class="testimonial-by">Kevin Petersen - <span class="designation">CEO &amp; Founder</span></h4></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="testimonial"><span class="testimonial-img"><img src="/images/testimonial-2.jpg" alt=""></span>
                        <div class="content">
                            <p>Uniquely matrix backward-compatible action items with premier testing procedures. Authoritatively expedite fully tested technologies for ubiquitous experiences. Authoritatively productize B2C benefits.</p>
                            <h4 class="testimonial-by">John Williams - <span class="designation">Creative Head</span></h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>